body {
    font-family: "Poppins", sans-serif;
    margin: 0; /* Remove default margin */
    background-color: pink; /* Or any other color you prefer */
}

.dashboard {
    display: flex;
    margin: 10px;
}

.hello-section {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
}

.top-stories {
    flex: 3;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-item {
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #d0d0d0;
    text-align: center;
}

.cursor {
    background-color: #111;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10000; /* Ensure cursor is above other elements */
}

/* No longer needed as we set the font globally on the body
.poppins {
    font-family: "Poppins", sans-serif;
}
*/

#root {
    cursor: none; /* Consider whether you want to disable the default cursor for the entire app */
}
